<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About</title>
    <link rel="icon" href="/img/icon.png">

    <link rel="stylesheet" href="/css/1.css">
    <script src="/js/1.js"></script>
</head>
<body>
    <div class="main-content">
    {{>header}}
    <div>
        <p>
            This website is created by Siddhant Saha. This website uses the mapbox API to get your coordinates and then it passes on it to the openweathermap API , It will shows you the current weather of the address provided. For any queries Feel free to contact me and don't forget to rate the service. See You soon......
        </p>
    <p>
    <a href="mailto:siddhant.saha.cd.mec20@itbhu.ac.in">Contact Me</a>
    </p>     
    </div>
    {{!-- <img class="portrait" src="/img/me.jpg"> --}}
    </div>
    {{>footer}}
</body>

</html>