<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/1.css">
    <link rel="icon" href="/img/icon.png">
    <title>Home</title>
</head>
<body>
    <div class="main-content">
    {{>header}}
    <p>Use this website to know the weather of your area..</p>
    <form>
        <input placeholder="Location">
        <button>Search</button>
        <p id="location"></p>
        <p id="message"></p>
        <p id="greet"></p>
    </form>
    </div>
    {{>footer}}
    <script src="/js/1.js"></script>
</body>
</html>
